# AWS S3
boto3==1.34.162

# llm
openai==2.14.0

# Task Queue
celery==5.5.3
redis==6.2.0

# Web / FastAPI
fastapi==0.136.1
uvicorn[standard]==0.37.0

# Data validation
pydantic==2.12.2
pydantic-settings==2.11.0

# Database / ORM
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11

# Data handling
pandas==2.1.1
numpy==1.26.0

# model
mlflow==3.7.0
scikit-learn==1.8.0